<a href="https://colab.research.google.com/github/michelprosite/Trilha_Engenharia_Dados/blob/main/desafio_ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio Trilha 2 - Data Side
## Michel Souza Santana
> 12/05/2023


A ETL (Extração, Transformação e Carga) é um processo utilizado para integrar dados de diferentes fontes, transformá-los em um formato que possa ser analisado e carregá-los em um novo destino, geralmente um data warehouse ou um data lake. Seguem abaixo os passos para realizar uma ETL:

* Identificar as fontes de dados: 

Identifique todas as fontes de dados que serão usadas na ETL, como bancos de dados, planilhas, arquivos CSV, feeds RSS, etc.

* Extrair os dados: 

Extrair os dados das fontes identificadas. Isso pode ser feito usando uma variedade de ferramentas, dependendo da fonte de dados. Por exemplo, bancos de dados podem ser extraídos usando SQL, enquanto planilhas podem ser extraídas usando bibliotecas Python como Pandas.

* Validar e limpar os dados: 

Após extrair os dados, é importante validá-los e limpá-los para garantir que os dados estejam completos, precisos e consistentes. Isso envolve remover dados duplicados ou inválidos e preencher quaisquer valores ausentes ou incorretos.

* Transformar os dados: 

Transforme os dados em um formato que possa ser carregado no destino. Isso pode envolver a conversão de tipos de dados, a criação de novas colunas ou a agregação de dados para criar novas visões.

* Analisar dados: 

Uma vez que os dados são limpos e transformados, é importante realizar uma análise exploratória para entender melhor os dados. Isso pode incluir a criação de gráficos, a identificação de padrões e a aplicação de outras técnicas de análise.

* Selecionar recursos: 

Em muitos casos, nem todos os dados são relevantes para o problema que se está tentando resolver. É importante selecionar os recursos mais importantes para o modelo que se está tentando construir.

* Dividir os dados: 

Antes de construir o modelo final, é importante dividir os dados em um conjunto de treinamento e um conjunto de teste. O conjunto de treinamento é usado para construir o modelo, enquanto o conjunto de teste é usado para avaliar a precisão do modelo.

* Verificar qualidade: 

Após dividir os dados, é importante verificar a qualidade dos dados para garantir que eles estejam prontos para serem usados no modelo final. Isso pode incluir a identificação de valores ausentes ou inconsistentes, a verificação de distribuições de variáveis e outras técnicas de validação de dados.

* Preparar dados para o modelo: 

Finalmente, é importante preparar os dados para serem usados no modelo final. Isso pode incluir a codificação de variáveis categóricas, a normalização de dados e outras técnicas de preparação de dados específicas para o tipo de modelo que você está construindo.

* Carregar os dados: 

Finalmente, carregue os dados transformados no destino, como um data warehouse ou um data lake. Isso pode ser feito usando ferramentas ETL dedicadas, como o Apache Airflow, Pentaho ou o Apache Nifi.

* Monitorar e manter: 

Após carregar os dados, monitore e mantenha o processo ETL para garantir que os dados sejam atualizados regularmente e que quaisquer problemas sejam resolvidos imediatamente. Isso pode envolver o uso de ferramentas de monitoramento e alerta para identificar problemas rapidamente e tomar medidas corretivas.

****

## Ponto de Vista do projeto

### 1 - Definir os requisitos
* 5w2h
* Prototipação

### 2 - Verifica a viabilidade nas fontes de dados
* Responsável Técnico pelo dados
    * TI

### 3 - Desenha o DW

### 4 - Desenha os processos ETL

### 5 - Desenha os Cubos

### 6 - Desenha os Dashboards

****

 ## Tabela 5W2H atualizada para o projeto de construção do DW para a empresa Olist em português:

| Item | Descrição
| --- | --- 
| O que | Construção de um Data Warehouse (DW) para a empresa Olist
| Por que | Permitir que a empresa Olist obtenha insights de negócios mais precisos e relevantes a partir de seus dados, permitindo que ela tome decisões mais informadas e estratégicas.
| Quem | Equipe de TI da empresa Olist
| Onde | No ambiente de nuvem da empresa Olist
| Quando | Início do projeto: 1º de julho de 2023<br>Data de conclusão: 31 de dezembro de 2023
| Como | <ul><li>Levantamento dos requisitos de negócios: Julho de 2023</li><li>Definição da arquitetura do DW: Agosto de 2023</li><li>Escolha da tecnologia de DW: Setembro de 2023</li><li>Instalação e configuração da tecnologia do DW: Outubro de 2023</li><li>Design e desenvolvimento de ETL para alimentar o DW: Novembro de 2023</li><li>Testes de desempenho do DW: Dezembro de 2023</li></ul>
| Quanto | O orçamento previsto para a construção do DW é de R$ 500.000,00, que inclui os custos de licenças de software, hardware, serviços de consultoria e treinamento da equipe
| Riscos | <ul><li>Atrasos na implementação devido a mudanças nos requisitos de negócios</li><li>Problemas de desempenho devido a volumes de dados maiores do que o previsto</li><li>Problemas de compatibilidade de dados com diferentes fontes</li></ul>
| Oportunidades |<ul><li>Novas descobertas de negócios a partir dos dados do DW que podem levar a oportunidades de crescimento e expansão da empresa</li><li>Melhoria da eficiência operacional e redução de custos a partir de insights de negócios mais precisos e relevantes</li></ul>

****

## Analise do negocio (do ponto de vista do usuario)

### Introdução

Site oficial da Olist: https://www.olist.com

A Olist é uma plataforma de comércio eletrônico que conecta vendedores e compradores em um mercado online. A empresa opera em um modelo de negócios de marketplace, onde os vendedores podem listar seus produtos na plataforma da Olist e alcançar um grande público de compradores.

Para começar a vender na Olist, um vendedor precisa se inscrever na plataforma e passar por um processo de verificação para garantir que seus produtos atendam aos padrões de qualidade da empresa. Uma vez que o vendedor tenha sido aprovado, ele pode listar seus produtos no marketplace da Olist.

A Olist oferece aos vendedores uma variedade de serviços, incluindo logística, gerenciamento de pagamentos e atendimento ao cliente. A empresa também oferece ferramentas de marketing e publicidade para ajudar os vendedores a promover seus produtos na plataforma.

Para os compradores, a Olist oferece uma ampla variedade de produtos de diferentes categorias, desde eletrônicos e eletrodomésticos até moda e acessórios. Os compradores podem navegar pelos produtos na plataforma, comparar preços e avaliações, e fazer compras com segurança usando as opções de pagamento disponíveis na plataforma.

Olist funciona como uma plataforma de comércio eletrônico que conecta vendedores e compradores em um mercado online, fornecendo serviços de logística, gerenciamento de pagamentos e atendimento ao cliente para os vendedores e uma ampla variedade de produtos para os compradores.

O conjunto de dados disponibilizados no endereço eletrõnico https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce, contém informações sobre as vendas do comércio eletrônico no Brasil, incluindo dados sobre os pedidos, produtos, clientes e avaliações dos usuários. Com base nesses dados, podemos tentar responder perguntas como:

1. Qual é o perfil dos clientes do comércio eletrônico no Brasil?
2. Quais são os produtos mais vendidos no comércio eletrônico no Brasil?
3. Qual é o comportamento de compra dos usuários?
4. Como as avaliações dos usuários afetam as vendas e a reputação das empresas?
5. Explorar os dados por meio de visualizações e gráficos para ajudar a comunicar as descobertas de forma clara e concisa.

A análise do negócio do ponto de vista do usuário pode ajudar as empresas a entender melhor seus clientes e a tomar decisões mais informadas sobre como melhorar a experiência do usuário, aumentar as vendas e melhorar sua reputação no mercado.

****

## PipeLine

### 1 - Copia os dados das fontes de dados
* Fazer o download dos dados do Kaggle através do link fornecido.

### 2 - Coloca esses dados na staging area
* Tabelão burro
* Sem relacionamento
* Sem limpeza nenhuma
* Só insere na tabela

### 3 - Limpar, juntar, unificar, formatar, etc
* Eliminar dados duplicados, lidar com valores ausentes e inconsistentes, transformar e formatar os dados de maneira que eles possam ser utilizados adequadamente.

### 4 - Análise exploratória dos dados 
* Explorar os dados para entender sua distribuição, encontrar padrões e tendências relevantes e identificar possíveis relações entre as variáveis.

### 5 - Transformação e engenharia de features 
* Criar novas variáveis a partir das já existentes, selecionar e codificar as variáveis relevantes para os modelos que serão desenvolvidos.

### 6 - Treinamento e avaliação de modelos 
* Construir modelos de aprendizado de máquina para prever comportamentos, identificar fatores que influenciam o sucesso das vendas, etc. Avaliar a eficácia dos modelos através de métricas relevantes e realizar ajustes necessários.

### 7 - Copia os dados e joga no Star shema
* DW
* Modelo dimensional
    * Carrega as dimensões
    * Carrega a 
        * Métricas base / bruta

### 8 - Conecta o cubo no DW e cria as métricas calculadas e KPIs

### 9 - Cria as análises, gráficos, visualizações e apresenta eles num relatório ou dashboard
* Apresentar os resultados através de gráficos e relatórios que possam ser facilmente compreendidos por usuários não técnicos, a fim de orientar a tomada de decisões.

### 10 - Manutenção e atualização dos modelos 
* Monitorar regularmente o desempenho dos modelos e atualizá-los quando necessário, para garantir que eles permaneçam relevantes e precisos ao longo do tempo.

****

# Identificar as fontes de dados:

https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce

A URL em questão se refere a um conjunto de dados disponibilizado no site Kaggle, que contém informações sobre o comércio eletrônico no Brasil. O conjunto de dados é intitulado "Brazilian E-Commerce Public Dataset by Olist" e foi criado pela empresa Olist, que é uma plataforma de vendas on-line que conecta pequenos e médios varejistas a marketplaces.

O conjunto de dados contém informações de mais de 100 mil pedidos de clientes, com dados que incluem informações do produto, preços, prazos de entrega, avaliações de clientes e informações sobre o vendedor. Além disso, o conjunto de dados contém informações sobre geolocalização dos clientes, categoria de produtos e informações sobre a própria loja virtual.

Este conjunto de dados pode ser extremamente útil para análises sobre comércio eletrônico no Brasil, permitindo a análise de tendências de consumo, comportamento dos clientes, performance de vendas e muito mais. A disponibilização de dados desse tipo é importante para o desenvolvimento de modelos de negócios mais eficientes e para a tomada de decisões mais informadas no setor de e-commerce brasileiro.

## 1 - Copia os dados das fontes de dados

In [124]:
#from google.colab import files
#files.upload()

### Carregando arquivo kaggle.json

Instalando o Kaggle

In [125]:
#!pip install kaggle --upgrade

Criando o diretório e copiando o arquivo kaggle.json para validar a solicitação de download na plataforma

In [126]:
#!mkdir -p .kaggle
#!cp kaggle.json .kaggle/
#!ls .kaggle

Fazendo o Download do diretório alvo do kaggle para realização do desafio

In [127]:
#!mkdir -p kaggle_csv
#!kaggle datasets download -d olistbr/brazilian-ecommerce
#!cp -r brazilian-ecommerce.zip kaggle_csv/
#!rm -r brazilian-ecommerce.zip

Descompactando os arquivos baixados

In [128]:
#!unzip kaggle_csv/brazilian-ecommerce.zip -d kaggle_csv/

### Instalando o pandas no Colab

Na maior parte das vezes o pandas não vem instalado. Paa resolver o problema, execute este comando:

In [129]:
# !pip install pandas

## 2 - Coloca esses dados na staging area

Para colocar os dados do link na staging area, precisamos seguir alguns passos. Vou descrevê-los abaixo:

1. Baixe o conjunto de dados do link que você compartilhou.
2. Identifique o tipo de dados e o formato do arquivo (por exemplo, CSV, JSON, etc.).
3. Crie uma tabela temporária na staging area para armazenar os dados. Certifique-se de que a tabela tenha as colunas corretas para armazenar os dados do conjunto de dados.
4. Use uma ferramenta de ETL (Extract, Transform, Load) ou um comando SQL para carregar os dados do conjunto de dados na tabela temporária. Certifique-se de que o conjunto de dados seja carregado na tabela correta e que todos os dados sejam formatados corretamente.
5. Verifique a integridade dos dados e faça quaisquer ajustes ou correções necessárias antes de continuar. Verifique se todos os dados estão carregados corretamente na tabela temporária e se não há dados faltando ou corrompidos.
6. Após verificar a integridade dos dados, você pode continuar o processo de carga dos dados em sua aplicação ou sistema de destino, ou fazer outras transformações ou limpeza de dados na staging area, se necessário.

OBS: Lembrando-se de que a staging area é uma área temporária para preparação de dados, e não deve ser usada para armazenamento de longo prazo de dados. É importante ter um processo bem definido para a carga de dados na staging area e garantir que os dados sejam transferidos para o ambiente de produção ou para um armazenamento de dados de longo prazo de forma segura e eficiente.

Portando nesse primeiro projeto estarei fazendo uso da IDE VSCode e das tabelas em csv para suprir a Staging Área.

### Importando as bibliotecas e Carregando as tabelas

In [130]:
import pandas as pd 
import numpy as np 
import seaborn as sns
from datetime import datetime

Eliminando o critério de limitação para exibição das linhas e colunas

In [131]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [132]:
customers = pd.read_csv('kaggle_csv/olist_customers_dataset.csv')
customers.head(3)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP

In [133]:
geolocation = pd.read_csv('kaggle_csv/olist_geolocation_dataset.csv')
geolocation.head(3)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP

In [134]:
items = pd.read_csv('kaggle_csv/olist_order_items_dataset.csv')
items.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

In [135]:
payments = pd.read_csv('kaggle_csv/olist_order_payments_dataset.csv')
payments.head(3)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

In [136]:
reviews = pd.read_csv('kaggle_csv/olist_order_reviews_dataset.csv')
reviews.head(3)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24

In [137]:
orders = pd.read_csv('kaggle_csv/olist_orders_dataset.csv')
orders.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

In [138]:
products = pd.read_csv('kaggle_csv/olist_products_dataset.csv')
products.head(3)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

In [139]:
sellers = pd.read_csv('kaggle_csv/olist_sellers_dataset.csv')
sellers.head(3)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ

In [140]:
category = pd.read_csv('kaggle_csv/product_category_name_translation.csv')
category.head(3)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto

## 3 - Limpar, juntar, unificar, formatar, etc

### Customers

In [141]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [142]:
customers.shape

(99441, 5)

In [143]:
customers.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

OBS: Devido as limitações da máquina local, estarei selecionando 20% dos dados para dar continuidade no processo.

In [144]:
customers = customers.sample(frac=0.2, random_state=1)  # seleciona aleatoriamente 20% das linhas
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
90678,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,nova friburgo,RJ
53288,2ba25daf9792793cb287dd8d0390d8e5,c0ef37e745e3e5a7d172e900c5e5ccef,89480,major vieira,SC
23486,d90359b63914d35b6058e423f964db77,1447b1e0484692a68d0c42a25d9ada01,18077,sorocaba,SP
50028,df72728563c0a348eed0e450e9e8c2b7,ffeefd086fc667aaf6595c8fe3d22d54,26445,japeri,RJ
60525,3b05eb53fd64dbf2e21454026079e02d,d7cfefa991e6c4f12d98d640d633f53e,1201,sao paulo,SP

Para preparar a tabela para joins futuros estarei eliminando as colunas customer_city e customar_state que seram futuramente agregadas novamente em meio ao join.

Os demais dados se encontram em formato aceitavel para o momento.

In [145]:
customers.drop(columns=['customer_city', 'customer_state'], inplace=True)
customers.head(3)

,customer_id,customer_unique_id,customer_zip_code_prefix
90678,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633
53288,2ba25daf9792793cb287dd8d0390d8e5,c0ef37e745e3e5a7d172e900c5e5ccef,89480
23486,d90359b63914d35b6058e423f964db77,1447b1e0484692a68d0c42a25d9ada01,18077

### Geolocation

In [146]:
geolocation.head(3)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP

In [147]:
geolocation.shape

(1000163, 5)

In [148]:
geolocation.dtypes

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

Alguns dados da coluna "geolocation_state" estão destintos onde deveriam ser identicos... Será realizada uma tratativa rápida na tentativa de amenizar a dualidade dos dados.

In [149]:
geolocation = geolocation.applymap(lambda x: x.replace('ã', 'a') if isinstance(x, str) else x)
geolocation = geolocation.applymap(lambda x: x.replace('saopaulo', 'sao paulo') if isinstance(x, str) else x)

## >>> Nesse ponto estarei unindo as tabelas costumers e gelocation para melhor peformasse

In [150]:
df_customers = customers.merge(geolocation, left_on='customer_zip_code_prefix', right_on='geolocation_zip_code_prefix', suffixes=('_left', '_right'))
df_customers.drop(columns='geolocation_zip_code_prefix', inplace=True)
df_customers.head(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.240892,-42.524678,nova friburgo,RJ
1,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.248442,-42.526121,nova friburgo,RJ
2,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.256794,-42.531506,nova friburgo,RJ
3,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.225019,-42.527676,nova friburgo,RJ
4,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.239107,-42.534504,nova friburgo,RJ
5,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.236979,-42.535211,nova friburgo,RJ
6,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.248450,-42.526107,nova friburgo,RJ
7,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.251991,-42.527088,nova friburgo,RJ
8,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.226202,-42.521171,nova friburgo,RJ
9,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.256990,-42.531615,nova friburgo,RJ

****
****

### Orders

In [151]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [152]:
orders.shape

(99441, 8)

In [153]:
orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [154]:
orders['order_purchase_timestamp'] = pd.to_datetime(orders['order_purchase_timestamp'], format='%Y-%m-%d %H:%M:%S')
orders['order_purchase_timestamp'] = orders['order_purchase_timestamp'].dt.date

orders['order_approved_at'] = pd.to_datetime(orders['order_approved_at'], format='%Y-%m-%d %H:%M:%S')
orders['order_approved_at'] = orders['order_approved_at'].dt.date

orders['order_delivered_carrier_date'] = pd.to_datetime(orders['order_delivered_carrier_date'], format='%Y-%m-%d %H:%M:%S')
orders['order_delivered_carrier_date'] = orders['order_delivered_carrier_date'].dt.date

orders['order_delivered_customer_date'] = pd.to_datetime(orders['order_delivered_customer_date'], format='%Y-%m-%d %H:%M:%S')
orders['order_delivered_customer_date'] = orders['order_delivered_customer_date'].dt.date

orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'], format='%Y-%m-%d %H:%M:%S')
orders['order_estimated_delivery_date'] = orders['order_estimated_delivery_date'].dt.date

In [155]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02,2017-10-02,2017-10-04,2017-10-10,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24,2018-07-26,2018-07-26,2018-08-07,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08,2018-08-08,2018-08-08,2018-08-17,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18,2017-11-18,2017-11-22,2017-12-02,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13,2018-02-13,2018-02-14,2018-02-16,2018-02-26

### Items

In [156]:
items.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

In [157]:
items.shape

(112650, 7)

In [158]:
items.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [159]:
items['shipping_limit_date'] = pd.to_datetime(items['shipping_limit_date'], format='%Y-%m-%d %H:%M:%S')
items['shipping_limit_date'] = items['shipping_limit_date'].dt.date

In [160]:
items.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18,199.0,17.87

### Products

In [161]:
products.head(3)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

In [162]:
products.shape

(32951, 9)

In [163]:
products.dtypes

product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

### Payments

In [164]:
payments.head(3)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

In [165]:
payments.shape

(103886, 5)

In [166]:
payments.dtypes

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

### Reviews

In [167]:
reviews.head(3)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24

In [168]:
reviews.shape

(99224, 7)

In [169]:
reviews.dtypes

review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

In [170]:
reviews['review_creation_date'] = pd.to_datetime(reviews['review_creation_date'], format='%Y-%m-%d %H:%M:%S')
reviews['review_creation_date'] = reviews['review_creation_date'].dt.date

reviews['review_answer_timestamp'] = pd.to_datetime(reviews['review_answer_timestamp'], format='%Y-%m-%d %H:%M:%S')
reviews['review_answer_timestamp'] = reviews['review_answer_timestamp'].dt.date

### >>> Unindo as tabelas orders, products, items, payments e reviews

In [171]:
df_orders = orders.merge(items, left_on='order_id', right_on='order_id', suffixes=('_left', '_right'))
df_orders = df_orders.merge(products, left_on='product_id', right_on='product_id', suffixes=('_left', '_right'))
df_orders = df_orders.merge(payments, left_on='order_id', right_on='order_id', suffixes=('_left', '_right'))
df_orders = df_orders.merge(reviews, left_on='order_id', right_on='order_id', suffixes=('_left', '_right'))
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02,2017-10-02,2017-10-04,2017-10-10,2017-10-18,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,1,credit_card,1,18.12,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11,2017-10-12
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02,2017-10-02,2017-10-04,2017-10-10,2017-10-18,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,3,voucher,1,2.00,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11,2017-10-12
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02,2017-10-02,2017-10-04,2017-10-10,2017-10-18,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,2,voucher,1,18.59,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11,2017-10-12
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15,2017-08-15,2017-08-17,2017-08-18,2017-08-28,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-08-21,29.99,7.78,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,1,credit_card,3,37.77,b46f1e34512b0f4c74a72398b03ca788,4,NaN,Deveriam embalar melhor o produto. A caixa vei...,2017-08-19,2017-08-20
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02,2017-08-02,2017-08-04,2017-08-07,2017-08-15,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-08-08,29.99,7.78,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,1,credit_card,1,37.77,dc90f19c2806f1abba9e72ad3c350073,5,NaN,"Só achei ela pequena pra seis xícaras ,mais é ...",2017-08-08,2017-08-08

****
****

## >>> Criando o Data Frame final

In [179]:
df = df_customers.merge(df_orders, left_on='customer_id', right_on='customer_id', suffixes=('_left', '_right'))
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.240892,-42.524678,nova friburgo,RJ,39559fcf9796220ee34c01c473d42cb0,delivered,2017-11-27,2017-11-27,2017-11-29,2017-12-02,2017-12-11,1,595fac2a385ac33a80bd5114aec74eb8,ef0ace09169ac090589d85746e3e036f,2017-12-03,109.9,9.14,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0,1,credit_card,2,119.04,41921cd91e55282403318e5b6b8259f0,5,NaN,"Postagem ultra rápida, bem mais ágil que a pró...",2017-12-03,2017-12-03
1,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.248442,-42.526121,nova friburgo,RJ,39559fcf9796220ee34c01c473d42cb0,delivered,2017-11-27,2017-11-27,2017-11-29,2017-12-02,2017-12-11,1,595fac2a385ac33a80bd5114aec74eb8,ef0ace09169ac090589d85746e3e036f,2017-12-03,109.9,9.14,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0,1,credit_card,2,119.04,41921cd91e55282403318e5b6b8259f0,5,NaN,"Postagem ultra rápida, bem mais ágil que a pró...",2017-12-03,2017-12-03
2,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.256794,-42.531506,nova friburgo,RJ,39559fcf9796220ee34c01c473d42cb0,delivered,2017-11-27,2017-11-27,2017-11-29,2017-12-02,2017-12-11,1,595fac2a385ac33a80bd5114aec74eb8,ef0ace09169ac090589d85746e3e036f,2017-12-03,109.9,9.14,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0,1,credit_card,2,119.04,41921cd91e55282403318e5b6b8259f0,5,NaN,"Postagem ultra rápida, bem mais ágil que a pró...",2017-12-03,2017-12-03
3,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.225019,-42.527676,nova friburgo,RJ,39559fcf9796220ee34c01c473d42cb0,delivered,2017-11-27,2017-11-27,2017-11-29,2017-12-02,2017-12-11,1,595fac2a385ac33a80bd5114aec74eb8,ef0ace09169ac090589d85746e3e036f,2017-12-03,109.9,9.14,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0,1,credit_card,2,119.04,41921cd91e55282403318e5b6b8259f0,5,NaN,"Postagem ultra rápida, bem mais ágil que a pró...",2017-12-03,2017-12-03
4,bc7398b02f14bcd3a5181e6a9b50c5de,a2255f4f5dccc6e70357cc06f7b316e5,28633,-22.239107,-42.534504,nova friburgo,RJ,39559fcf9796220ee34c01c473d42cb0,delivered,2017-11-27,2017-11-27,2017-11-29,2017-12-02,2017-12-11,1,595fac2a385ac33a80bd5114aec74eb8,ef0ace09169ac090589d85746e3e036f,2017-12-03,109.9,9.14,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0,1,credit_card,2,119.04,41921cd91e55282403318e5b6b8259f0,5,NaN,"Postagem ultra rápida, bem mais ágil que a pró...",2017-12-03,2017-12-03

****

****

****

****

****